Repository ryanep/eslint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

.lintstagedrc:

{
  "*.ts": ["eslint", "prettier --write"],
  "package.json": ["sort-package-json"]
}

chore: configure commit-msg git hook
  .husky/commit-msg
Due: none

chore: upgrade dependencies
  package-lock.json
  package.json
Due: sort-package-json

chore: upgrade eslint config and fix errors
  .eslintrc.js
  eslint.config.js
  readme.md
  scripts/scan.ts
  src/base.ts
  src/jest.ts
  src/react.ts
  src/typescript.ts
Due: eslint, prettier --write

feat: update sort-keys rule to enable allowLineSeparatedGroups option
  src/base.ts
Due: eslint, prettier --write

Notes added by 'git notes add'
  87af5226c576990e4d9997f28d31e81741666e82
Due: none

Notes added by 'git notes add'
  47d2aafeae99079519596bda5c83ee96b5e4e131
Due: none

Notes added by 'git notes add'
  643efda5ff602af23eee7c3abbe1a4ab420558a9
Due: none

Notes added by 'git notes add'
  370a07d437418436fb8acf4ecff9b4cfa5eeff02
Due: none

Notes added by 'git notes add'
  b23151328168f54dead820667d9297befb0831e1
Due: none

chore: release v0.2.0
  package-lock.json
  package.json
Due: sort-package-json

chore: upgrade eslint config and add module types
  package-lock.json
  package.json
  src/base.ts
  types/modules.d.ts
Due: eslint, prettier --write, sort-package-json

chore: add github release workflow
  .github/workflows/release.yml
Due: none

feat: enable import/imports-first rule
  src/base.ts
Due: eslint, prettier --write

chore: release v0.3.0
  changelog.md
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  112d641ef76e13fe42e5a7098faa73c3c1d74963
Due: none

fix: update release github workflow to build config files
  .github/workflows/release.yml
Due: none

chore: release v0.3.1
  changelog.md
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  b2a5ef56353710e7e9eb180e911c30b92df0cb79
Due: none

chore: upgrade all dependencies
  package-lock.json
  package.json
Due: sort-package-json

chore: set new testing-library/prefer-implicit-assert rule to off
  src/testing-library.ts
Due: eslint, prettier --write

feat: upgrade dependencies and set new @typescript-eslint/prefer-destructuring rule
  package-lock.json
  package.json
  src/typescript.ts
Due: eslint, prettier --write, sort-package-json

chore: reduce dependabot schedule interval to monthly
  .github/dependabot.yml
Due: none

chore: release v0.4.0
  changelog.md
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  4153f9d4ff9a88f29f74c7b8e028abdb0c301457
Due: none

fix: update semantic release to update package-lock file
  .releaserc
Due: none

chore: release v0.4.1
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  7de7e47a6f40d694a7c95457c5aa5d661643a14f
Due: none

feat: add and configure eslint-plugin-perfectionist
  package-lock.json
  package.json
  src/base.ts
  src/react.ts
  src/typescript.ts
  types/modules.d.ts
Due: eslint, prettier --write, sort-package-json

chore: release v0.5.0
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  3c3e1d610df5868f882160d1e1f7f0160a7c1e2a
Due: none

fix: update perfectionist/sort-objects to enable partition-by-comment option
  src/base.ts
Due: eslint, prettier --write

chore: release v0.5.1
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  b9d3fef0eea584ab935fe1db67714bb391cc14c2
Due: none

fix: disable sort-keys base rule
  src/base.ts
Due: eslint, prettier --write

chore: release v0.5.2
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  310b090c7c81cb151ee7bd028828843a575a0e6a
Due: none

chore: upgrade eslint config and fix errors
  package-lock.json
  package.json
  scripts/scan.ts
  src/base.ts
Due: eslint, prettier --write, sort-package-json

fix: move eslint-plugin-perfectionist to dependencies
  package-lock.json
  package.json
Due: sort-package-json

chore: release v0.5.3
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  5afaeba749d88ba0bb381df9efabe775137043c2
Due: none
