Repository ryanep/eslint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

chore: upgrade dependencies
  package-lock.json
  package.json
Due: sort-package-json

fix: set @typescript-eslint/max-params rule to off
  src/typescript.ts
Due: eslint, prettier --write

chore: release v0.5.4
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  c673bbf99cf6db8c505c2a6c3ea14e3d632b55e0
Due: none

feat: replace import/order with perfectionist/sort-imports
  src/base.ts
Due: eslint, prettier --write

Notes added by 'git notes add'
  073f409bae3dda9aba8f50dd8bb08a9913fb956e
Due: none

chore: release v0.6.0
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

fix: update perfectionist/sort-imports group order
  src/base.ts
Due: eslint, prettier --write

fix: enable import/no-self-import rule
  src/base.ts
Due: eslint, prettier --write

chore: release v0.6.1
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  5b76c75d36ba5958120198c881dbeaadb737a501
Due: none

chore: upgrade eslint config
  package-lock.json
  package.json
Due: sort-package-json

fix: remove typescript-sort-keys plugin
  package-lock.json
  package.json
  src/typescript.ts
  types/modules.d.ts
Due: eslint, prettier --write, sort-package-json

fix: remove sort-destructure-keys plugin
  package-lock.json
  package.json
  src/base.ts
  types/modules.d.ts
Due: eslint, prettier --write, sort-package-json

feat: add json configuration
  package.json
  src/json.ts
  tsconfig.json
  types/modules.d.ts
Due: eslint, prettier --write, sort-package-json

feat: add ignores config
  eslint.config.js
  src/ignores.ts
Due: eslint, prettier --write

feat: add default create config function
  eslint.config.js
  src/index.ts
Due: eslint, prettier --write

chore: upgrade all dependencies
  package-lock.json
  package.json
Due: sort-package-json

chore: release v0.7.0
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  34218344faa534ea9dcb4dd12953c34fe3a3c2a2
Due: none

feat: add graphql config
  eslint.config.js
  makefile
  package-lock.json
  package.json
  src/graphql.ts
  src/index.ts
  types/modules.d.ts
Due: eslint, prettier --write, sort-package-json

feat: add yaml config
  .github/dependabot.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
  src/index.ts
  src/typescript.ts
  src/yaml.ts
  types/modules.d.ts
Due: eslint, prettier --write, sort-package-json

feat: add regexp configuration
  package-lock.json
  package.json
  src/index.ts
  src/regex.ts
  types/modules.d.ts
Due: eslint, prettier --write, sort-package-json

chore: release v0.8.0
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  4c4a2271fd4b30764fb0e734aecf70b198db1da6
Due: none

fix: update ignores config to ignore generated and next-env file
  src/ignores.ts
Due: eslint, prettier --write

fix: update @typescript-eslint/no-misused-promises rule
  src/typescript.ts
Due: eslint, prettier --write

chore: release v0.8.1
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  802f0653683ac045185711c0c28a01accd6baa19
Due: none

feat: upgrade all dependencies
  package-lock.json
  package.json
  src/regex.ts
Due: eslint, prettier --write, sort-package-json

chore: release v0.9.0
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  2a0cf9608ab1ed024abc236a28fef5f8bae59220
Due: none

fix: disable jest/prefer-expect-assertions and jest/prefer-expect-assertions rules
  src/jest.ts
Due: eslint, prettier --write

Notes added by 'git notes add'
  afe3bfadc260d959df27face9bc422908c6792d5
Due: none

chore: release v0.9.1
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

chore: upgrade all dependencies
  .husky/commit-msg
  .husky/pre-commit
  package-lock.json
  package.json
Due: sort-package-json

feat: add new unicorn and typescript lint rules
  src/base.ts
  src/typescript.ts
Due: eslint, prettier --write

chore: update usage section in readme file
  readme.md
Due: none

chore: release v0.10.0
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  8d96e3dc63607d3ebb1b3385032644f0351eb7d6
Due: none

Path conditions:
  eslint: any of: *.ts
  prettier --write: any of: *.ts
  sort-package-json: any of: package.json
