Repository ryanep/eslint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

feat: add new react and typescript rules
  src/react.ts
  src/typescript.ts
Due: eslint, prettier --write

chore: upgrade dependencies
  package-lock.json
  package.json
Due: sort-package-json

feat: split config by plugin
  eslint.config.js
  package.json
  scripts/scan.ts
  src/base.ts
  src/built-in.ts
  src/graphql.ts
  src/ignores.ts
  src/import.ts
  src/index.ts
  src/jsx-a11y.ts
  src/next.ts
  src/perfectionist.ts
  src/prettier.ts
  src/react-hooks.ts
  src/react.ts
  src/regex.ts
  src/tailwindcss.ts
  src/testing-library.ts
  src/typescript.ts
  src/unicorn.ts
  tsconfig.build.json
  tsconfig.json
  types/modules.d.ts
Due: eslint, prettier --write, sort-package-json

chore: temporarily remove audit signature check
  .github/workflows/release.yml
Due: none

chore: release v0.11.0
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  e8194a5d874674140a07d481e9423bbcfb00022b
Due: none

feat: upgrade dependencies
  package-lock.json
  package.json
  src/tailwindcss.ts
  src/typescript.ts
Due: eslint, prettier --write, sort-package-json

chore: release v1.0.0
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  7c4f53ee5d671d1c19ba74349f754ab10d0a4e78
Due: none

feat: build esm and cjs versions
  eslint.config.js
  package-lock.json
  package.json
  scripts/clean.ts
  scripts/generate.ts
  scripts/scan.ts
  tsconfig.json
  tsup.config.ts
Due: eslint, prettier --write, sort-package-json

chore: release v1.1.0
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  752810ca44a1f4fbf88aeabc263c4738f2f59794
Due: none

chore: upgrade dependencies
  nodemon.json
  package-lock.json
  package.json
Due: sort-package-json

feat: enable report unused disable directives option
  src/base.ts
Due: eslint, prettier --write

chore: release v1.2.0
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  24d821103e49a031df8fb42c15cdfe50fe2fe6c4
Due: none

feat: upgrade dependencies and enable new rules
  package-lock.json
  package.json
  src/jest.ts
  src/perfectionist.ts
  src/regex.ts
  src/unicorn.ts
Due: eslint, prettier --write, sort-package-json

chore: upgrade dev dependencies
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  f7d9dfa71832ae9f8aba8cb3a9be8d36ffdbd290
Due: none

chore: release v1.3.0
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

fix: update @typescript-eslint/no-misused-promises rule check void return option
  src/typescript.ts
Due: eslint, prettier --write

chore: release v1.3.1
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  367f1b5453acc910b63c5a160338a79c48e29e01
Due: none

chore: upgrade dependencies
  package-lock.json
  package.json
  src/unicorn.ts
Due: eslint, prettier --write, sort-package-json

feat: disable tailwindcss/no-arbitrary-value rule
  src/tailwindcss.ts
Due: eslint, prettier --write

feat: disable import/no-default-export for specific files
  package.json
  src/import.ts
  src/index.ts
Due: eslint, prettier --write, sort-package-json

feat: enable new unicorn rules
  src/unicorn.ts
Due: eslint, prettier --write

chore: release v1.4.0
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  aa94f4c941f75c815f6ed62739e4b5f47f857553
Due: none

chore: add devcontainer config
  .devcontainer/devcontainer.env.example
  .devcontainer/devcontainer.json
  .devcontainer/dockerfile
  .gitignore
  .npmrc
Due: none

feat: enable new typescript, jest and unicorn rules
  src/jest.ts
  src/typescript.ts
  src/unicorn.ts
Due: eslint, prettier --write

chore: update devcontainer npm token variable
  .devcontainer/devcontainer.env.example
  .devcontainer/devcontainer.json
  .github/workflows/release.yml
  .npmrc
Due: none

chore: release v1.5.0
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  7b7c9654cd75d00ca9c4d90cb37840febc32b913
Due: none

feat: upgrade dependencies
  package-lock.json
  package.json
  src/jest.ts
  src/perfectionist.ts
  src/react.ts
  src/typescript.ts
  src/unicorn.ts
Due: eslint, prettier --write, sort-package-json

chore: release v1.6.0
  changelog.md
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  236b1a935be57d0d74fcf639164bd4b47ab963c0
Due: none

chore: update release config
  .releaserc
  package-lock.json
  package.json
  release.config.js
Due: sort-package-json

Path conditions:
  eslint: any of: *.ts
  prettier --write: any of: *.ts
  sort-package-json: any of: package.json
