Repository ryanep/eslint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

chore: format scan results as tables
  scripts/scan.ts
Due: eslint, prettier --write

chore: pin release runner and add lint step
  .github/workflows/release.yml
Due: none

fix: normalize node version in release workflow
  .github/workflows/release.yml
Due: none

chore: add husky prepare and tighten pre-commit checks
  .husky/pre-commit
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  bf870aa1121df762612e9981b067d8340453ee28
Due: none

chore: enable npm trusted publishing in release
  .github/workflows/release.yml
  .npmrc
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  fb7bade2626139fab938f5a4d9440cc2c736bfb0
Due: none

chore: publish to npm before github release
  release.config.js
Due: none

chore: pin github cli in devcontainer
  .devcontainer/devcontainer.json
Due: none

chore: update devcontainer
  .devcontainer/devcontainer-lock.json
  .devcontainer/devcontainer.json
Due: none

chore: clean package lock
  package-lock.json
Due: none

feat: update eslint packages
  package-lock.json
  package.json
  src/configs/perfectionist.ts
  src/configs/react-hooks.ts
Due: eslint, prettier --write, sort-package-json

feat: add eslint 10 support
  package-lock.json
  package.json
  src/configs/graphql.ts
  src/configs/json.ts
  src/configs/jsx-a11y.ts
  src/configs/next.ts
  src/configs/react-you-might-not-need-an-effect.ts
  src/configs/react.ts
  src/configs/unicorn.ts
  tsconfig.json
  tsup.config.ts
  types/modules.d.ts
Due: eslint, prettier --write, sort-package-json

Notes added by 'git notes add'
  6da6d4ce2a024bbd212c3150adfbcf3ad90d544f
Due: none

chore: update release workflow actions
  .github/workflows/release.yml
Due: none

fix: tailwind config settings
  readme.md
  src/configs/tailwindcss.ts
Due: eslint, prettier --write

Notes added by 'git notes add'
  48895703e0ec843024aaa728aaeb660559c0b0e0
Due: none

feat: report deprecated eslint rules in scan
  scripts/scan.ts
Due: eslint, prettier --write

chore: scan rules during release
  .github/workflows/release.yml
Due: none

chore: reference direct eslint override
  package.json
Due: sort-package-json

chore: add scheduled eslint upgrade workflow
  .agents/skills/eslint-upgrade/SKILL.md
  .github/workflows/eslint-upgrade.yml
Due: none

chore: refine eslint upgrade automation
  .agents/skills/eslint-upgrade/SKILL.md
  .github/workflows/eslint-upgrade.yml
Due: none

chore: harden eslint upgrade workflow
  .agents/skills/eslint-upgrade/SKILL.md
  .github/workflows/eslint-upgrade.yml
Due: none

Path conditions:
  eslint: any of: *.ts
  prettier --write: any of: *.ts
  sort-package-json: any of: package.json
