Repository ryanep/eslint-config: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, prettier --write, sort-package-json

.lintstagedrc:

{
  "*.ts": ["eslint", "prettier --write"],
  "package.json": ["sort-package-json"]
}

chore: remove changelog file
  changelog.md
Due: none

fix(deps): upgrade eslint-plugin-jest
  package-lock.json
  package.json
Due: sort-package-json

Notes added by 'git notes add'
  3d92691f5e6a15f4a25834ea717d613a28667959
Due: none

feat: update yaml config to enable line separated grouping
  .github/workflows/release.yml
  src/yaml.ts
Due: eslint, prettier --write

Notes added by 'git notes add'
  5801c1b88a6b19c807e4a0ed0bbc33b352054d2c
Due: none

chore: upgrade prettier config
  .commitlintrc
  .github/workflows/release.yml
  .prettierignore
  commitlint.config.ts
  package-lock.json
  package.json
Due: eslint, prettier --write, sort-package-json

chore: update package.json version
  package.json
Due: sort-package-json

chore: update package-lock file
  package-lock.json
Due: none

feat(deps): update eslint-plugin-jsx-a11y
  package-lock.json
  package.json
  types/modules.d.ts
Due: eslint, prettier --write, sort-package-json

chore: clean up module types
  package-lock.json
  package.json
  src/import.ts
  src/json.ts
  src/regex.ts
  src/typescript.ts
  src/yaml.ts
  types/modules.d.ts
Due: eslint, prettier --write, sort-package-json

chore: upgrade dependencies
  package-lock.json
  package.json
  src/perfectionist.ts
Due: eslint, prettier --write, sort-package-json

Notes added by 'git notes add'
  3a2a3aa2c5ad9add01f5f601ed5c34180fafaa57
Due: none

fix: remove package overrides
  package.json
Due: sort-package-json

feat: add @eslint/compat and upgrade to eslint v9
  .eslintignore
  package-lock.json
  package.json
  src/import.ts
  src/react-hooks.ts
  src/testing-library.ts
Due: eslint, prettier --write, sort-package-json

feat: upgrade dependencies and add new rules
  package-lock.json
  package.json
  scripts/scan.ts
  src/built-in.ts
  src/react.ts
  src/unicorn.ts
Due: eslint, prettier --write, sort-package-json

Notes added by 'git notes add'
  6a03ba2e0bc56f27eab6f2606765798e7ef79f84
Due: none

fix: add eslint compatibility fix for next plugin
  src/next.ts
Due: eslint, prettier --write

Notes added by 'git notes add'
  acb2cdbd53d4d024fffb4b01b9127be998421ce2
Due: none

feat: upgrade dependencies and add missing rules
  package-lock.json
  package.json
  src/graphql.ts
  src/perfectionist.ts
  src/typescript.ts
Due: eslint, prettier --write, sort-package-json

Notes added by 'git notes add'
  7009f9d66b9dbfdc983aae614bbc46b6faa73acb
Due: none

fix: update perfectionist/sort-imports internal pattern regex
  src/perfectionist.ts
Due: eslint, prettier --write

Notes added by 'git notes add'
  a5523fb0a9acc23b177856045056be5b7f237abf
Due: none

fix: update perfectionist/sort-imports internal pattern key name
  src/perfectionist.ts
Due: eslint, prettier --write

Notes added by 'git notes add'
  30caf98c389a4d6988b4b54dc4943fb9e2115fe9
Due: none

feat: upgrade dependencies and update rules
  package-lock.json
  package.json
  scripts/scan.ts
  src/base.ts
  src/built-in.ts
  src/graphql.ts
  src/ignores.ts
  src/import.ts
  src/index.ts
  src/jest.ts
  src/json.ts
  src/jsx-a11y.ts
  src/next.ts
  src/perfectionist.ts
  src/prettier.ts
  src/react-hooks.ts
  src/react.ts
  src/regex.ts
  src/tailwindcss.ts
  src/testing-library.ts
  src/typescript.ts
  src/unicorn.ts
  src/yaml.ts
  types/modules.d.ts
Due: eslint, prettier --write, sort-package-json

Notes added by 'git notes add'
  947dcf73d80dc415cdaaa831be7f7133a8cadbeb
Due: none

feat: upgrade all dependencies
  package-lock.json
  package.json
  src/built-in.ts
  src/jest.ts
  src/next.ts
  src/react-hooks.ts
  src/typescript.ts
  src/unicorn.ts
  types/modules.d.ts
Due: eslint, prettier --write, sort-package-json

Notes added by 'git notes add'
  4e5ed0cb9bed2ef6a74bab26def0d3a6896344ba
Due: none

chore: move config files into configs folder
  src/configs/base.ts
  src/configs/built-in.ts
  src/configs/graphql.ts
  src/configs/ignores.ts
  src/configs/import.ts
  src/configs/jest.ts
  src/configs/json.ts
  src/configs/jsx-a11y.ts
  src/configs/next.ts
  src/configs/perfectionist.ts
  src/configs/prettier.ts
  src/configs/react-hooks.ts
  src/configs/react.ts
  src/configs/regex.ts
  src/configs/tailwindcss.ts
  src/configs/testing-library.ts
  src/configs/typescript.ts
  src/configs/unicorn.ts
  src/configs/yaml.ts
  src/index.ts
Due: eslint, prettier --write

feat: update create config api to support features
  eslint.config.js
  scripts/scan.ts
  src/configs/base.ts
  src/configs/built-in.ts
  src/configs/graphql.ts
  src/configs/ignores.ts
  src/configs/import.ts
  src/configs/jest.ts
  src/configs/json.ts
  src/configs/jsx-a11y.ts
  src/configs/next.ts
  src/configs/perfectionist.ts
  src/configs/prettier.ts
  src/configs/react-hooks.ts
  src/configs/react.ts
  src/configs/regex.ts
  src/configs/tailwindcss.ts
  src/configs/testing-library.ts
  src/configs/typescript.ts
  src/configs/unicorn.ts
  src/configs/yaml.ts
  src/index.ts
  types/modules.d.ts
Due: eslint, prettier --write

Notes added by 'git notes add'
  49437a7042b82504b9c4124b5f8894b63f91210c
Due: none

chore: update devcontainer config
  .devcontainer/devcontainer.json
  .devcontainer/dockerfile
  .env.example
Due: none

feat: upgrade dependencies
  package-lock.json
  package.json
  src/configs/jest.ts
  src/configs/perfectionist.ts
  src/configs/testing-library.ts
  src/configs/typescript.ts
  src/configs/yaml.ts
Due: eslint, prettier --write, sort-package-json

chore: add type declaration for next plugin
  types/modules.d.ts
Due: eslint, prettier --write

feat: add initial jsdoc config
  src/configs/jsdoc.ts
  src/configs/react-hooks.ts
  src/index.ts
Due: eslint, prettier --write

feat: add react-you-might-not-need-an-effect config
  package-lock.json
  package.json
  src/configs/react-you-might-not-need-an-effect.ts
  src/index.ts
Due: eslint, prettier --write, sort-package-json

Notes added by 'git notes add'
  d503bcac2677a74804b800b67aa1db628f7f017a
Due: none

chore: update devcontainer tooling
  .devcontainer/devcontainer.json
Due: none

feat: migrate to eslint-plugin-import-x
  package-lock.json
  package.json
  src/configs/import.ts
  types/modules.d.ts
Due: eslint, prettier --write, sort-package-json

fix: add and disable new import-x rules and delete removed rule
  src/configs/import.ts
Due: eslint, prettier --write
